
.background{
 
        width: 99%;
        background: url(no1.jpg);
        background-position: center;
        background-size: cover;
        height: 97vh;
        background-repeat: no-repeat;
 
}
.link{
    color: white;
}
.a{
    height: 20%;
    width: 40%;
    float: left;
    margin-left: 30%;
    text-align: center;
    margin-top:7%;
    font-size:150px;
    font-family: Informal Roman;
       
}
.b{
   
    width: 10%;
    height: 20%;
    float: right;
    margin-right:19%;
    margin-top: 5%;
}
img{
    width: 100%;
    height: 100%;
}

.font{
color: red;
width: 10%;
height: 10%;
background-color: black;
float: left;
margin-right:40%;
}

    .div1 {
        width: 12%;
        height: 7%;
        float: right;
        margin-right: 170px;
        color: white;
        margin-top: 8%;
        text-align: center;
        font-family: cambria;
        font-size: 180%;
        padding-top:1%;
        box-shadow:inset 100px 100px 100px 100px rgba(0, 0, 0, 0.61);
    }
    
    .div2 {
        width: 10%;
        height: 7%;
        float: right;
        margin-right: 170px;
        color: white;
        text-align: center;
        font-family: cambria;
        font-size: 200%;
        padding-top:1%;
        box-shadow:inset 100px 100px 100px 100px rgb(0, 0, 0, 0.61);
    }
    
    .div3 {
        width: 10%;
        height: 7%;
        float: right;
        margin-right: 170px;
        color: white;
        text-align: center;
        font-family: cambria;
        font-size: 200%;
        padding-top:1%;
        box-shadow:inset 100px 100px 100px 100px rgb(0, 0, 0, 0.61);
    }
    
    .div4 {
        width: 10%;
        height: 7%;
        float: right;
        margin-right: 170px;
        color: white;
        text-align: center;
        font-family: cambria;
        font-size: 200%;
        padding-top:1%;
        box-shadow:inset 100px 100px 100px 100px rgb(0, 0, 0, 0.61);
    }